{% extends "admin/base_site.html" %}
{% load static %}



{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}">
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-3">Welcome to Admin</h1>
            <div class="alert alert-info">
                <p class="mb-0">Customize your content here!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
