{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Dữ liệu mẫu cho biểu đồ
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line', // Loại biểu đồ (có thể là 'line', 'bar', 'pie', v.v.)
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'], // Nhãn trục X
            datasets: [{
                label: 'monthly revenue',
                data: [12, 19, 3, 5, 2, 3, 10], // Dữ liệu cho biểu đồ
                fill: false,
                borderColor: 'rgba(75, 192, 192, 1)', // Màu đường biên
                tension: 0.1
            }]
        },
        options: {
            responsive: true, // Làm cho biểu đồ tự động thay đổi kích thước khi thay đổi kích thước cửa sổ
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
